html, body {
  height: 100%; /* Ensure the body and html take up the full height */
  margin: 0; /* Remove any default margin */
  background-color: white; /* Set your desired background color */
  font-family: Arial, serif; /* Optional: Set a default font for the page */
  display: flex; /* Use flexbox to make the body a flex container */
  flex-direction: column; /* Arrange children in a column */
}

small {
  color: red;
  display: block;
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold !important; /* Make labels bold */

}

.form-container {
  width: 600px;
  margin: 30px auto; /* Add margin-top to create space from the top */
  padding: 20px;
  background-color: white;
  color: var(--primary);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.15); /* Stronger shadow */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold !important; /* Make labels bold */
  text-align: center; /* Center the label text */
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--surface);
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--secondary);
  color: var(--text);
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

button.selected {
  background-color: var(--secondary);
}


.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

}

.input {
  text-align: center;
  width: 100%;
  padding: 12px 12px 12px 15px; /* Adjust padding to make space for the icon */
  border-radius: 12px;
  border: 2px solid #e4e4e4;
  outline: none;
  transition: all 0.3s ease;
  font-size: 14px;
}

.input:focus {
  border-color: #8ebf42;
  box-shadow: 0 0 8px 0 #8ebf42;
}

.input::placeholder {
  color: #aaaaaa;
}

.input:hover {
  background-color: #f0f8ff;
}

i {
  position: absolute;
  right: 15px;
  color: #aaaaaa;
}

/* Adjust icon color on focus */
.input:focus + i {
  color: #8ebf42;
}


/* Center the button containers */
.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 10px; /* Space above the buttons */
  width: 100%; /* Full width of the parent container */

}

.submit-button {
  padding: 12px 19px;
  border: none;
  color: white; /* Default text color */
  cursor: pointer;
  background-color: #8ebf42; /* Default background color */
  border-radius: 7px;
  font-weight: bold;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  box-shadow: rgba(150, 143, 143, 0.2) 0px 2px 8px 0px;
}

/* Hover effect for enabled button */
.submit-button:hover {
  background-color: #76a933; /* Slightly darker shade on hover */
}

/* Style for the disabled state */
.submit-button:disabled {
  background-color: grey; /* Grey background when disabled */
  cursor: not-allowed; /* Show not-allowed cursor when disabled */
  color: #cccccc; /* Lighter grey text color */
  box-shadow: none; /* Remove the box shadow */
}


/* Define styles for small buttons */
.small-button {
  justify-content: center; /* Center text horizontally */
  width: 75%; /* Make buttons 75% of the container width */
  padding: 6px 12px; /* Smaller padding */
  font-size: 16px; /* Smaller font size */
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--surface); /* Use your primary color variable */
  color: white;
  transition: background-color 0.3s;
  text-align: center; /* Center text inside the button */
}

/* Button hover effect for small buttons */
.small-button:hover {
  background-color: var(--secondary); /* Use your secondary color variable */
  color: var(--text); /* Text color when hovered */
}

/* Button disabled state for small buttons */
.small-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}


/* Button selected state for small buttons */
.small-button.selected {
  background-color: var(--secondary); /* Use your secondary color variable */
}


/* Style for the remove icon */
.remove-icon {
  position: absolute;
  right: 10px; /* Adjust as needed to align with the input field */
  cursor: pointer;
  font-size: 24px; /* Larger size for better visibility */
  width: 24px; /* Ensure the icon button is appropriately sized */
  color: var(--secondary); /* Red color for the X icon */
  transition: color 0.3s, background-color 0.3s;
}

/* Style for the tooltip effect on hover */
.remove-icon:hover {
  color: var(--surface); /* Darker red on hover */
}

.notEligible {
  font-size: 20px;
}

.eligible {
  font-size: 20px;
  text-align: center;
}

