<div class="pdf-list-container">
  <div class="card">
    <div class="card-header blue-header">
      <h2>{{ "pdf-list.TITLE" | translate }}</h2>
    </div>

    <div class="card-body">
      <section class="section pdf-details">
        <div class="scrollable-table">
          <table class="pdf-list-table">
            <thead>
            <tr>
              <th>{{ "pdf-list.DOCUMENT_NAME" | translate }}</th>
              <th>{{ "pdf-list.PASSENGER_NAME" | translate }}</th>
              <th>{{ "pdf-list.CASE_ID" | translate }}</th>
              <th>{{ "pdf-list.TIMESTAMP" | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pdf of pdfs">
              <td>{{ pdf.documentName }}</td>
              <td>{{ pdf.passengerLastName }} {{pdf.passengerFirstName}}</td>
              <td>{{ pdf.systemCaseId }}</td>
              <td>{{ pdf.timestamp | date: 'dd/MM/yyyy HH:mm' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
