.progress-bar {
  position: sticky;
  top: 60px;
  left: 1rem;
  max-width: 300px;
  padding: 20px;
  background-color: white;
  height: calc(100vh - 60px);
  overflow-y: auto;
  z-index: 1000;
}

/* Progress Step Styling */
.progress-step {
  position: relative;
  margin-bottom: 60px;
  padding-left: 60px;
  font-size: 16px;
  color: grey;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}


.progress-step:hover {
  background-color: lime; /* The original hover color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  transform: scale(1.05); /* Slightly enlarges the element */
  color: black;
}


/* Line between steps */
.progress-step:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 20px; /* Center the line relative to the step number */
  top: 50%; /* Start the line from the middle of the step */
  width: 2px;
  height: 100%; /* Extend the line to the bottom of the current step */
  background-color: #000000;
  z-index: -1;
}

/* Connecting line to the previous step, but not for the first step */
.progress-step:not(:first-child)::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 50%; /* Start the line from the middle of the current step */
  width: 2px;
  height: 250%; /* Extend the line to the top of the next step */
  background-color: #000000;
  z-index: -1;
}

/* Styling for Step Number */
.step-number {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  color: var(--primary);
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Active Step Number */
.progress-step.active .step-number {
  background-color: var(--secondary);

}

/* Completed Step Number - Purple */
.progress-step.completed .step-number {
  background-color: var(--primary);
  color: white; /* Ensure the text inside is visible */
}

/* Active Step Title */
.progress-step.active .step-title {
  color: black;
}

/* Completed Step Title - Purple */
.progress-step.completed .step-title {
  color: var(--primary); /* Purple color for the title */
}

/* Step Title Styling */
.step-title {
  margin-left: 40px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

/* Line between completed steps */
.progress-step.completed:not(:last-child)::after,
.progress-step.completed:not(:first-child)::before {
  background-color: #6a0dad; /* Purple color for the connecting line */
}
