.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.footer-text {
  color: gray;
  opacity: 0.7; /* Adjust the transparency level here */
  font-size: 14px;
}
