button {
  padding: 2px 5px; // Smaller padding for smaller button size
  font-size: 0; // Hide text
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  margin: 0 2px; // Reduce margin to bring buttons closer
  height: 40px; // Fix the button height

  &:hover {
    background-color: rgba(255, 255, 255, 0.1); // Hover effect for flag buttons
  }

  .flag {
    width: 40px; // Adjust flag size
    height: 40px; // Adjust flag size
    margin-right: 0; // No margin since text is hidden
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.3); // Scale up on hover
    }
  }
}
